/* css는 html 마크업 순서에 맞게 작업하는 것이 편하다*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* css 초기화 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* font-family: 'Montserrat', sans-serif; */
/*  font-family: 'Noto Sans KR', sans-serif; */

.gnb-link {
  color: #191919;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 38px 100px 0px;
  height: 100px;
  box-sizing: border-box; /* 높이 마진이 안 합쳐지게 하기 위함 */
  min-width: 1360px;
}
.gnb-list {
  display: flex;
}
.gnb-item {
  margin-left: 10px;
}

.gnb-link:hover {
  color: #10c9c3;
}

.hamburger {
  display: none;
}

.section01 {
  background-color: #f6f6f6;
  /* 높이가 320이면 그냥 패딩값을 160으로 줘도 되는거 아닌지? */
  height: 320px;
  padding-top: 100px;
  box-sizing: border-box;
  min-width: 1360px;
}

.section-heading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  /* line-hight 말고 margin-bottom: 35px; 로 할 수도 있다 */
  line-height: 2.8;
}
.section-paragraph {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 0 200px;
  line-height: 1.6;
}
.section02 {
  margin: 50px 0;
}

.group {
  display: flex;
  width: 1360px;
  /* matgin으로 가운데 배치를 하려면 width 의 크기가 정해져 있어야 한다. */
  margin: auto;
}

/* image : 340*300 */
.figure {
  width: 340px;
  height: 300px;
  overflow: hidden;
}
.figure-img {
  height: 300px;
}
.figure-video {
  height: 300px;
}

.footer {
  font-family: "Montserrat", sans-serif;
  background-color: #141414;
  color: #ffffff;
  padding: 100px 0;
  min-width: 1360px;
}

.footer-wrap {
  width: 1360px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer-copyright-heading {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer-copyright-paragraph {
  font-size: 18px;
}
.footer-sitemap-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 124px;
  width: 210px;
}

.footer-sitemap-item {
  margin-bottom: 15px;
  margin-left: 30px;
  width: 75px;
}

/* tablet */
@media screen and (max-width: 1024px) {
  .header,
  .section01,
  .section02,
  .footer {
    min-width: auto;
  }

  .group {
    width: 680px;
    flex-wrap: wrap;
  }

  .footer-wrap {
    width: auto;
    padding: 0 50px;
  }
}

/* smart phone */
@media screen and (max-width: 767px) {
  .header {
    height: 50px;
    padding: 12px 20px 0px;
  }

  .gnb {
    position: absolute;
  }

  .section01 {
    padding-top: 80px;
  }

  .section-heading {
    font-size: 20px;
  }

  .section-paragraph {
    padding: 0 10px;
  }
  .group {
    width: 340px;
  }

  .footer-wrap {
    display: block;
    padding: 0 20px;
  }

  .footer-sitemap-list {
    flex-direction: row;
    padding-top: 20px;
    width: auto;
    height: auto;
  }

  .footer-sitemap-item {
    margin: 0 5px 5px 0;
  }
}
